* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 80%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.g-20 {
  gap: 20px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* PRODUCTS */
.col {
  width: calc(100%/4);
  min-height: 100px;
  background-color: white;
  padding: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

.border-red {
  border: 1px solid red;
}